language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - 7.0
  - hhvm

# This triggers builds to run on the new TravisCI infrastructure.
# See: http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

install: travis_retry composer install --no-interaction --prefer-source